.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cart-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  border:1px solid #ccc;
  padding: 2%;
}
.img-wrapper img{
  width: 100px;
}
.btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-wrapper button{
  border: 0px;
  border-radius: 4px;
  background-color: #ff1616;
  padding: 2%;
  color: #fff;
  margin: 2%;
  cursor: pointer;
  width: 125px;
  height: 38px;
}
.btn-wrapper>.remove-to-cart-btn{
  background-color: #3f51b5;
}
.cart-icon{
  position: absolute;
  top:5%;
  right:5%;
  cursor: pointer;
}
.cart-icon .fa-shopping-cart{
  font-size: 45px;
}
.cart-icon .fa-circle-plus{
  position: absolute;
    top: -8px;
    right: -10px;
    font-size: 20px;
}
i.fa-solid.cart-count {
  width: 30px;
  height: 30px;
  background: #000;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
